{% extends 'base.html' %}
{% block title %}
Записи сообщества:  {{ group.title }}
{% endblock %}
{% block content %} 
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <div class="container">
          <h1>Записи сообщества {{ group.title }}</h1>
          <p>
            {{ group.description }}
          </p>
          
          {% for post in page_obj %}
            <ul>
              <li>
                Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            <p>{{ post.text|slice:300 }}<a href="{% url 'posts:post_detail' post.id %}"> ...</a></p>    
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %} 
          <!-- под последним постом нет линии -->
          
        </div>  
        {% include 'posts/includes/paginator.html' %} 
      </div> 
      
    </main>
    
{% endblock %} 